@{
    ViewBag.Title = "Home Page";
    string itemFetchUrl = Url.Content("~/Home/FetchItem");
    string itemPostUrl = Url.Content("~/Home/AddItemToCart");
}

<div class="container" style="padding-top: 25%; height:100vh;">
    <div class="card bg-light" style="padding: 40px;">

        <h1><strong>Bienvenidos a Pizza 4 U</strong></h1>

        <h3>
            Contamos con más de 15 años de estar llevando felicidad y sabor a las casas costarriceses
        </h3>

        <hr />

        <a href="#" class="btn btn-info w-25 align-self-center" onclick="goToMenu()">Ordena Ya</a>

    </div>
</div>


<div class="container" style="height: 100vh">

    <h1 style="padding-top: 15px;">
        ESCOGE TU PLATO FAVORITO
    </h1>

    <div class="row">
        @foreach (var Item in ViewBag.Items) {
            <div class="col-4 d-flex justify-content-evenly">
                <div class="card w-100" style="margin:15px 0 15px 0;">
                    <div class="card-header text-center bg-white" style="padding-bottom:15px;">
                        @Item.Product
                        <hr />
                        <strong>Precio: ₡@Item.Price</strong>
                    </div>

                    <div class="card-body bg-light d-flex justify-content-evenly">
                        <img src="@Item.ImgUrl" alt="Alternate Text" class="img-fluid w-100" style="max-height: 175px;" />
                    </div>

                    <div class="card-footer text-center bg-light">
                        <input type="button" name="name" value="Mas Info" class="btn btn-info" onclick="getItemInfo('@Item.Id')" />
                        <input type="button" name="name" value="Agregar al Carrito" class="btn btn-success" onclick="addItemToCart('@Item.Id')" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="card border-0">
        <a href="#" class="btn btn-primary align-self-end" onclick="goToTop()">Ir Arriba</a>
    </div>


    <button style="display: none;" id="infoModalToggle" class="btn btn-success" onclick="" value="0" data-toggle="modal" data-target="#InfoModal"> Ver funcionarios <span id="count"></span> </button>

    <div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="InfoModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="InfoLongTitle">
                        <strong>

                        </strong>
                    </h3>
                    <button type="button" class="close btn btn-danger" style="margin: 1px;" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="InfoDescription">
                </div>

            </div>
        </div>
    </div>

</div>

<script>

    function getCookieValue(name) {
        let result = document.cookie.match("(^|[^;]+)\\s*" + name + "\\s*=\\s*([^;]+)")
        return result ? result.pop() : ""
    }
    function updateCookie(value) {
        let cookieValue = getCookieValue("cartItems");
        console.log("Cookie Value From Update: " + cookieValue);
        document.cookie = "cartItems=" + cookieValue + value + ",";
    }


    function goToMenu() {
        document.documentElement.scrollTop = 1000;
    }

    function goToTop() {
        document.documentElement.scrollTop = 0;
    }

    async function addItemToCart(itemId) {
        updateCookie(itemId);
        cookieValue = (document.cookie.match(/^(?:.*;)?\s*cartItems\s*=\s*([^;]+)(?:.*)?$/) || [, null])[1];
        
    }

    async function getItemInfo(itemId) {
        let url = "@itemFetchUrl"
        url += "?id=" + itemId;
        let response = await fetch(url);
        let data = await response.json();
        triggerInfoModal(data);
    }

    function triggerInfoModal(item) {
        let titleContainerId = "#InfoLongTitle";
        let descriptionContainerId = "#InfoDescription";
        let linkButtonId = "#linkButton";
        let buttonId = "#infoModalToggle";

        let title = document.querySelector(titleContainerId);
        let description = document.querySelector(descriptionContainerId);
        let linkButton = document.querySelector(linkButtonId);
        let button = document.querySelector(buttonId);

        title.innerHTML = "<strong>" + item.Product + "</strong>";
        description.innerHTML = item.Description;

        button.click();
    }


</script>




